# ignore beam object files
*.beam
#ignore the generated documentation files
docs/*
#ignore vim .swp files
.*.swp
#ignore mnesia database directories
Mnesia.*@*
#miscellaneous files
erl_crash.dump
edoc-info
erl_crash.dump
escribe.boot
escribe.script
